@font-face {
    font-family: bebas;
    src: url(fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: legend-peta;
    src: url(fonts/Lexend_Peta/LexendPeta-VariableFont_wght.ttf);
}

*{
    font-family: legend-peta;
}

body{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.left {
    flex: 2 ;
    display: flex;
    flex-direction: column;
    background-image: url(images/background_image2.jpg);
    background-size: cover;
    
}

.logo-container {
    width: 100%;
    height: fit-content;
    background-color: rgb(0, 0, 0, 0.3  );
    margin-top: 15vh;

    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-content: center;
}

.logo-container img {
    height: 20vh;
    align-self: center;
}

.logo-container h1 {
    color: white;
    margin-bottom: 3rem;
    opacity: 0.8;
    align-self: center;
}

.image-credits {
    align-self: flex-end;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 0.5vh 0;
    margin-top: auto;
}

a {
    color: white;
    text-decoration: underline;
}

/* Right side */

.right {
    display: flex;
    flex-direction: column;
    flex: 3;
    height: 100vh;
    background: linear-gradient(#b9c3cc, #bd8b62);
    /* background: linear-gradient(#e66465, #9198e5); */
}

.right > ul {
    margin-top: 10vh;
    margin-right: 15vw;
}

.form-input {
    display: flex;
    flex-direction: column;
    
}

.form-input > ul {
    background-color: #ecc6a2;
    box-shadow: 1px 7px 8px black;
    padding-bottom: 18px;
}

.form-input > ul > div {
    display: flex;
    flex-wrap: wrap;
}

.form-input p {
    margin-left: 45px;
}

li {
    list-style: none;
    padding: 10px;
}

label {
    display: block;
    
}

input::placeholder {
    font-style: italic;
    font-size: 0.8rem;
}

input {
    min-width: 250px;
    border-radius: 6px;
    border:#8dafbc 2px solid;
    height: 1.5rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: #8dafbc 2px 2px 12px;
}

input[type="email"]:focus:invalid {
    outline: 2px solid red;
}

button[type="submit"] {
    margin-top: 1rem;
    font-size: 1.2rem;
    width: fit-content;
    padding: 1rem;
    margin-left: 45px;
    background-color: #ecc6a2;
    border-radius: 12px;
    box-shadow: 2px 2px 5px black;
}

button[type="submit"]:active {
    transform: scale(1.02);
    background-color: #8dafbc;
    transition: 0.1s;
}

input[type="password"]:focus:invalid {
    outline: 2px solid red;
}


.error {
    color: rgb(255, 51, 51);
    font-family: sans-serif;
    font-weight: 500;
    text-transform: none;
    overflow: hidden;
    margin-top: 4px;
    display: none;
}